---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
